*{
    margin:0;
    font-family: 'Titillium Web', sans-serif;
}

body{
    background-image: url(bgii.jpg);
    background-size: cover;
    color: #000000;
}

.title{
    width: 500px;
    color:#078a31;
    margin:3% auto;
}

.content{
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 580px;
    margin: 0 auto;
    background-color:#6a945d;
    padding: 3%;
    padding-left: 6%;
}

.secondTitle{
    text-align:left;
    margin: 2% 0;
    font-weight: 100;
}

.form{
    padding: 5px;
}

.formLine{
    display: inline-flex;
    padding: 5px 0px;
}


input, select{
    width: 130px;
    margin-left: 10px;
}

/* table style */
table{
    width: 100%;
}.left{
    float: left;
}

.right{
    float:right;
    margin-right: 100px;
}

thead{
    background-color:#078a31;
    line-height: 30px;
}

/* Button */

button{
    width: 200px;
    color:#000000; 
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    line-height: 20px;
    background-color: #078a31;
    border-radius: 5px;
    margin: 14px 25%;
    cursor: pointer;
}

a{
    text-decoration: underline;
    cursor: pointer;
}
